.todo_list_item {
  background: #fff;
  color: #2d2d2d;
  font-weight: 500;
  padding: 5px 90px 5px 5px;
  border-radius: 5px;
  position: relative;
  transition: 0.2s linear;
  margin-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(204, 204, 204, 0.5);
    transition: 0.2s linear;
  }
  &.active {
    text-decoration: line-through;
    &::before {
      width: 100%;
    }
  }

  &_btn_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &_remove {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background: #ff0000;
    cursor: pointer;
    position: relative;
    transition: .2s linear;
    &::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      transform: rotate(180deg);
    }
  }
  &_label {
    position: relative;
  }
  &_checkbox {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked + span::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 5px;
      border-left: 2px solid #008000;
      border-bottom: 2px solid #008000;
      transform: rotate(-45deg) translate(-50%, -50%) scale(1);
      left: 50%;
      top: 10%;
    }
  }
  &_span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border: 2px solid #008000;
    cursor: pointer;
    border-radius: 5px;
    &::before {
      content: "";
      transform: rotate(-45deg) translate(-50%, -50%) scale(0);
      transition: .2s linear;
    }
  }
}
